/* ================================
   GLOBAL BASE
================================ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height:50%;
  overflow-x: hidden;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Tipografía */
h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.2;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Botones */
button {
  font-family: inherit;
  cursor: pointer;
}

body {
  margin: 0;
  padding-top: 80px; /* altura navbar fixed */
  font-family: system-ui, sans-serif;
  background-color: var(--dark);
  color: var(--light);

}



